.container {
    width: 400px;
    margin: 16px auto;
}

h1 {
    font-size: 20px;
}

h1 a {
    font-size: 16px;
    font-weight: nomal;
}

h1 form {
    display: inline-block;
}

.back-link {
    text-align: right;
}

form div + div {
    margin-top: 8px;
}

input[type='text'],
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.error {
    margin: 4px 0 0;
    color: red;
}
